body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    /* centraliza vertical e horizontal */
    height: 100vh;
    overflow: hidden;
}

/* Inputs */
input {
    background-color: #fff;
    border-radius: 50px;
    padding: 12px;
    border: 2px solid #6b0303;
    width: 500px;
}

/* Container da imagem de fundo */
.container-foto {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-foto img {
    filter: brightness(95%);
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Container do conteúdo */
.container-escrita {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    z-index: 2;
    position: relative;
    padding-top: 18px;
}

.container-escrita h1 {
    color: #c52b2b;
    font-family: 'Poppins', sans-serif;
}

/* Área dos botões */
.botoes {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    gap: 10px;
    flex-wrap: wrap;
}

.botoes button,
.botoes .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c52b2b;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.botoes button:hover,
.botoes .btn:hover {
    background-color: #730606;
}

form {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 32px;
    gap: 6px;

    width: 600px;
    height: 683px;

    font-family: "Montserrat", sans-serif;
}

form a {
    color: #6b0303;
}

label {
    font-family: 'Poppins', sans-serif;
}

.linha {
    width: 80%;
    height: 2px;
    background-color: #c52b2b;
    margin-bottom: 15px;
    border-radius: 20px;
}

    h1 {
        color: #c52b2b;
        margin-bottom: 12px;
    }

    a {
        /* color: #ff0303; */
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: rgb(111, 11, 11);
        }
    }

    form h1 {
    color: #c52b2b;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
}
