
body{
    background-color: rgb(0, 0, 0);
}


input {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 12px;
    border-color: #6b0303;
    width: 500px;
}
.container-foto{
  img {
        filter: brightness(95%);
        position: absolute;
        
        z-index: 1;
        
        width: 100%;
        height: 114%;
    }
    z-index: 1;
    justify-content: left;
}


.container-escrita{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 118px;
    padding-left: 200px;
    h1{
        color: #e60808;
    }

    a {
        color: #F70000;
    }

  
}

.titulo {
    margin-top: 16px;
    margin-bottom: 12px;
    z-index: 2;

    h1 {
        color: rgb(255, 0, 0);
        font-family: "Montserrat";
    }
}

form {
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 32px;
    gap: 4px;
    width: 600px;
    height: 621px;
    
    margin-bottom: 22px;
    font-family: "Montserrat";
    
    
}

button {
    border-radius: 50PX;
    background-color: #F70000;
    padding: 10px;
    width: 500px;
}