
/* Área do carrossel */
#carrosel-home {
    width: 100%;
    display: flex;
    justify-content: center;

}

/* Swiper ajustado */
.swiper {
    width: 900px;           
    max-width: 95%;         
    height: 460px;        
    border-radius: 15px;
    overflow: hidden;
    margin: auto;
    position: relative;
}

/* Slide */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

/* As imagens ajustam 100% sem distorcer */
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
}

/* Botões de navegação */
.swiper-button-next,
.swiper-button-prev {
    color: white;
    text-shadow: 0 0 10px #000;
}

/* Pontinhos do swiper */
.swiper-pagination-bullet {
    background: white;
    opacity: 0.7;
    }

.swiper-pagination-bullet-active {
    background: #ff0000;  /* vermelho do tema */
    opacity: 1;
}


