/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fundo principal */
body {
    background: url('/assets/imgs/telaloginfundo.png') no-repeat center center / cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

/* Estrutura principal */
.pai {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container da imagem de fundo */
.container-foto {
    position: relative;
    display: flex;
    justify-content: center;

    img {
        filter: brightness(95%);
        position: absolute;
        z-index: 1;
        width: 100%;
    }
}

/* Container do conteúdo */
.container-escrita {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18px;
    height: 100%;
}

/* Formulário */
form {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.93);
    border-radius: 32px;
    gap: 10px;
    width: 600px;
    padding: 30px 0; /* REMOVIDO height fixo */
    text-align: center;
}


    h1 {
        color: #c52b2b;
        margin-bottom: 12px;
    }

    a {
        /* color: #ff0303; */
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
            color: rgb(111, 11, 11);
        }
    }

    form h1 {
    color: #c52b2b;
    margin-top: -5px;
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
}

.linha {
    width: 80%;
    height: 2px;
    background-color: #c52b2b;
    margin-bottom: 15px;
    border-radius: 20px;
}


    input {
        background-color: #fff;
        border: 2px solid #6b0303;
        border-radius: 50px;
        padding: 12px;
        width: 500px;
    }

    .botoes {
        display: flex;
        justify-content: center;
        margin-top: 12px;
        gap: 10px;
        flex-wrap: wrap;

        button,
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #c52b2b;
            color: white;
            border: none;
            border-radius: 50px;
            font-weight: bold;
            width: 200px;
            text-align: center;
            transition: background-color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #730606;
            }
        }
    }



    #idDois{
        color: #ff0808;

        &:hover{
        color: #6b0303;
        }
    }