/* RESET */
* {
    margin: 0;
    padding: 0;
}

header {
       background-color: hsl(0, 100%, 36%);
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
/* CONTAINER DA LOGO */
.logo {
    display: flex;
    align-items: center;
}

/* LINK QUE ENVOLVE LOGO + TEXTO */
.logoFoto {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

/* IMAGEM DA JOANINHA */
.logoFoto img {
    width: 55px;
    height: auto;
}

/* TEXTOS */
.logotxt h1 {
    font-size: 34px;
    font-weight: 900;
    margin: 0;
    color: #ffffff;
    line-height: 1.1;
    text-transform: none;
}



.logotxt h2 {
    font-size: 18px;
    letter-spacing: 8px;
    margin: 0;
    margin-top: 4px;
    color: #ffffff;
    font-weight: 500;
}


/* NAV MENU */
.menu {
    display: flex;
    align-items: center;
    gap: 22px;
}

.menu a {
    font-family: "Poppins", sans-serif;
    background-color: transparent;
    color: white;
    padding: 10px 18px;
    font-size: 18px;         /* ⬆ fonte maior */
    font-weight: 600;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: all .25s ease;
}

/* --- HOVER DIVERTIDO (efeito da imagem) --- */
.menu a:hover {
    transform: translateY(-3px) scale(1.06);
    background-color: rgba(255, 255, 255, 0.12);
    color: #ffecec;
}

/* Efeito de brilho interno */
.menu a::after {
    content: "";
    position: absolute;
    top: 0;
    left: -60%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.25);
    transform: skewX(-20deg);
    transition: 0.4s;
}

.menu a:hover::after {
    left: 120%;
}

/* Link ativo */
.menu a.ativo {
    background-color: #7b0d0d;
}

/* ÍCONES */
.icones {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icones .icone {
    padding: 10px;
    border-radius: 10px;
    transition: .25s ease;
}

.icones .icone:hover {
    background-color: #8a0f0f;
    transform: translateY(-3px) scale(1.05);
}

.icones .icone.ativo {
    background-color: #7b0d0d;
}

/* Ícones */
.icones img {
    width: 32px;
    height: 32px;
}

/* Botão sair */
.icones button {
    background-color: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: .25s ease;
}

.icones button:hover {
    background-color: #8a0f0f;
    transform: translateY(-3px) scale(1.05);
}

.icones button img {
    width: 32px;
    height: 32px;
}


.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}