* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: hsl(0, 100%, 36%);
    padding: 12px;
}

header {
    display: flex;
    justify-content: space-around;

    img {
        height: 30px;
        width: 30px;
    }

    a {
        color: #000;
    }
}


.logoFoto {
    display: flex;
    align-items: center;

    img {
        height: 75px;
        width: 76px;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 3px;

    h2 {
        font-family: "Poppins", sans-serif;
        font-weight: 350;
        font-style: normal;
        font-size: 18px;
        color: white;

    }

    h1 {
        font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 26px;
        color: white;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 19px;

    a {
        background-color: hsl(0, 100%, 36%);
        color: #fff;
        font-weight: bold;
        border: none;
        padding: 0.9rem;
        border-radius: var(--radius);
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease;
        border-radius: 10px;
    }

    
button[type="submit"] {
    background-color: hsl(0, 100%, 36%);
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 0.9rem;
    border-radius: var(--radius);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 10px;
}

button[type="submit"]:hover {
    background-color: #871010;
    transform: translateY(-2px);
}

}




.icone {
    &:hover {
        background-color: #871010;
        transform: translateY(-2px);
    }
}